<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
<div id="app">
	<h1>{{info}}</h1>
	<input type="text" name="account" v-model="name"/>
	<input type="button" @click="showInfo" value="提交"/>
	<li v-for="item in arrs">{{item}}</li>
	<span v-if="checkLogin">欢迎您：源辰</span>
	<span v-else>请先登录</span>
</div>
<script type="text/javascript">
let app = new Vue({
	el: "#app", // 指定vue对象的作用范围
	data: {
		info: "源辰",
		name: "张三",
		arrs: [],
		checkLogin: false,
	},
	methods: {
		showInfo: function() {
			this.info="源辰信息";
			console.info(this.name);
			this.arrs = [1, 2, 3, 4, 5];
			this.checkLogin = true;
		}
	}
})
</script>
</body>
</html>